html, body, main {
  width: 100%;
  height: 100%;
}

section#camera {
  width: 100%;
  height: 100%;

  canvas {
    width: 100%;
    height: 100%;
  }

  video {
    width: 100%;
    height: 100%;
  }
}
